.card-display-show {
  visibility: visible;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: 1s;
}

.card-display-hidden {
  visibility: hidden;
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: 1s;
}
