$sidebarWeight: 16.875rem;
$smSidebarWeight: 3.75rem;
$headerHeight: 3.75rem;

$mainBackgroundColor: #f0f4f6;
$menuColor: #409EFF;
$menuHoverColor: #ecf5ff;

$purpleCard: #CCCCFF;
$purplishRedCard: #FF99CC;
$blueCard: #99CCFF;
$turquoiseCard: #66CCCC;
